<div class="container">
	<div class="row block-home">
		<div class="col-md-4 col-sm-6">
			<div class="block our-menu">
				<div class="block-img"><img src="{{media url="wysiwyg/_6A40D652D5C0659BA7801BC690D4E5E574A153AAB8A22ABB11_pimgpsh_fullsize_distr.jpg"}}" alt="" /></div>
				<div class="caption"><a class="green-button view">VIEW MENU</a> <a class="green-button">CATERING MENU</a></div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="block our-menu">
				<div class="block-img"><img src="{{media url="wysiwyg/block2.png"}}" alt="" /></div>
				<div class="caption">
					<p class="get black-uppercase-text"><span>GET <span class="red">10% OFF $50</span> OR MORE</span></p>
					<a class="green-button w179 button-right">ACTIVATE</a></div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="block our-menu">
				<div class="block-img"><img src="{{media url="wysiwyg/_4600508C1ABA6F421479B83A19CBB204A8EAA8741ADDF87379_pimgpsh_fullsize_distr.jpg"}}" alt="" height="150" /></div>
				<div class="caption">
					<p class="get black-uppercase-text"><span>Let us know how we did</span></p>
					<a class="green-button w179 button-right">CONTACT US</a></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="block-home2-wrap">
	<div class="container">
		<div class="row block-home2">
			<div class="col-sm-3">
				<div class="block-home2-item">
					<div class="block-home2-img"><img src="{{media url="wysiwyg/imgonline-com-ua-Resize-2h8RF374mSJSRu.png"}}" alt="" /></div>
					<div class="caption bg_transparent">
						<p class="block-home2-title black-uppercase-text">WE <span class="red">CATER</span></p>
						<p class="block-home2-description">If you love fresh Italian food and enjoy an exciting dining atmosphere, then you will love Brioso Fresh Pasta.</p>
					</div>
					<a class="green-button w179 button-center">Signup now</a></div>
			</div>
			<div class="col-sm-3">
				<div class="block-home2-item">
					<div class="block-home2-img"><img src="{{media url="wysiwyg/block22.png"}}" alt="" /></div>
					<div class="caption bg_transparent">
						<p class="block-home2-title black-uppercase-text"><span class="red">GIFT CARDS </span>AVAILABLE</p>
						<p class="block-home2-description"><span>If ordering takeout and a gift card, you will be able to pickup at location when you pickup order. If your just purchasing ONLY a gift card, the gift card will be mailed to the address specified at checkout</span></p>
					</div>
					<a class="green-button w179 button-center">Order now</a></div>
			</div>
			<div class="col-sm-3">
				<div class="block-home2-item">
					<div class="block-home2-img"><img class="follow_us_icon_home" src="{{media url="wysiwyg/home/follow_icon.png"}}" alt="" /></div>
					<div class="caption bg_transparent">
						<p class="block-home2-title black-uppercase-text">FOLLOW US</p>
						<p class="block-home2-description">Follow us on social media to get special VIP promotions you and your friends will enjoy.</p>
					</div>
					<a class="green-button w179 button-center">Connect</a></div>
			</div>
			<div class="col-sm-3">
				<div class="block-home2-item">
					<div class="block-home2-img"><img src="{{media url="wysiwyg/block24.png"}}" alt="" /></div>
					<div class="caption bg_transparent">
						<p class="block-home2-title black-uppercase-text">About us</p>
						<p class="block-home2-description">Brioso Pasta offers a unique and authentic Italian Fresh Casual experience allowing guests to enjoy a relaxing authentic Italian atmosphere while watching individual meals being prepared &ldquo;sous vide&rdquo; style.</p>
					</div>
					<a class="green-button w179 button-center">view more</a></div>
			</div>
		</div>
	</div>
</div>